---
import Icon from "@/components/Icon.astro";
import IconWrapper from "@/components/IconWrapper.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import type {
  Icon as IconType,
  ServicesData,
} from "@/config/landing.interface";

interface Props {
  data: ServicesData;
}

const { data } = Astro.props;
---

<section id="services-section" class="flex flex-col mb-60 gap-y-28">
  <SectionTitle>
    {data.title}
  </SectionTitle>
  <div class="grid md:grid-cols-2 gap-y-10 justify-items-center">
    {
      data.services.map((service) => (
        <article class="flex gap-x-6 md:gap-x-12 w-full ">
          <div>
            <IconWrapper>
              <Icon icon={service.icon as IconType} />
            </IconWrapper>
          </div>
          <section>
            <h3 class="md:text-2xl font-medium  lg:text-4xl mb-3 ">
              {service.title}
            </h3>
            <p class="text-pretty opacity-90 md:text-lg">
              {service.description}
            </p>
          </section>
        </article>
      ))
    }
  </div>
</section>
